.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    max-width: 90vw;
    margin: 1rem auto;
    aspect-ratio: 1;
    background: white;
}

.cell {
    border: 1px solid #aaa;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 2rem);
    aspect-ratio: 1;
    outline: none;
}

.cell:disabled {
    background: #eee;
    font-weight: bold;
}

.right-border {
    border-right: 3px solid black;
}

.bottom-border {
    border-bottom: 3px solid black;
}

.wrong {
    color: red;
}

@media (min-width: 600px) {
    .grid {
        max-width: 450px;
    }
}
